.heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    padding-bottom: 3.5rem;
    margin-top: 5rem;
}

.heading>span{
    text-transform: uppercase;
    font-size: 4rem;
    color: var(--main-color);
}

.boxContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin: 0 2rem;
    align-items: center;
    margin-bottom: 2rem;
}

.boxContainer>.box{
    text-align: center;
    border: 1px solid #fff;
    width: 60%;
    margin: 0 auto;
}

.boxContainer>.box>.icons{
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;  
    justify-content: space-around; 
    height: 5rem;
}

.icon{
    font-size: 3.5rem;
    color: var(--main-color);
    border: 1px solid #fff;
    padding: .2rem;
    cursor: pointer;
    }

.icon:hover{
    color: #fff;
}

.image>img{
    width: 13rem;
    height: 15rem;
    padding: 2rem 0;
}

.content>h1{
    font-size: 2.3rem;
}

.content>.star{
    padding: 1.3rem;
}

.content>.star>.s{
    font-size: 1.5rem;
    color: var(--main-color);
}

.content>h3{
    font-size: 2.5rem;
}

.content>h3>span{
    font-size: 1.5rem;
    text-decoration: line-through;
}


.btn{
    background-color: var(--main-color);
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--black);
    font-weight: bold;
    margin: .5rem 0;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .1rem;
}





@media screen and (max-width:850px){
    .boxContainer{
    grid-template-columns: 2fr 2fr ;    
    }

    .boxContainer>.box>.icons{
        height: 6rem;
    }

    .icon{
        font-size: 4.5rem;
        }

    .image>img{
        width: 15rem;
        height: 17rem;
    }

    .content>h1{
        font-size: 3.3rem;
    }

    .content>.star>.s{
        font-size: 2.5rem;
    }

    .content>h3{
        font-size: 3rem;
    }
    
    .content>h3>span{
        font-size: 2.5rem;
    }

    .boxContainer>.box{
        width: 100%;
    }

    .btn{
        font-size: 2.5rem;
    }
}


@media screen and (max-width:400px){
    .boxContainer{
        grid-template-columns: 1fr ;  
        margin: 0 3rem;  
        }

        
    .content>h1{
        font-size: 2.3rem;
    }

    .content>.star>.s{
        font-size: 1.5rem;
    }

    .content>h3{
        font-size: 2rem;
    }
    
    .content>h3>span{
        font-size: 1.5rem;
    }

    .boxContainer>.box{
        width: 90%;
    }

        .btn{
            background-color: var(--main-color);
            font-size: 2rem;
        }
}